html{
    scroll-behavior: smooth;
}

body{
    background-color: #e5e5e5 !important;
}

.nav-link{
    margin: 0 10px;
    border-radius: 10px;
}

.nav-link:hover{
    background-color: #ffffff;
    border-radius: 10px;
    transition: all 300ms ease-in-out;
}

footer{
    background-color: black;
}

footer p{
  
      background-color: black;
      color: white;
     
}
h1{
    background-color: black;
    color: white;
}
h2{
    background-color: #081c15;
    text-align: center;
    border-radius: 10px;
    color: #ffffff;
}
section{
    padding-top: 5%;
}
/*
a{
    text-align: center;
}
*/
